{% extends "base.html" %}
{% block title %}АвтоПрофи - выход из аккаунта{% endblock %}
{% block content %}
    <div id="main" class="px-4 py-5 my-5 text-center">
        <div style="height: 250px"></div>
        <h1 class="display-5 fw-bold text-body-emphasis">Вы успешно вышли из аккаунта</h1>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <button type="button" class="btn btn-outline-secondary btn-lg px-4"
                    onclick="window.location.href = '{% url 'login' %}';">
                Войти заново
            </button>
        </div>
    </div>
{% endblock %}