{% extends "base.html" %}
{% block title %}Автопрофи - Логин{% endblock %}
{% block content %}
    <div style="height: 100px"></div>
    <div class="col-md-10 mx-auto col-lg-5">
        {% if form.errors %}
            <div class="d-flex flex-column align-items-center text-center">
                <div class="col-sm-9 text-secondary">Логин и пароль не совпадают. Попробуйте снова.</div>
            </div>
            <div style="height: 20px"></div>
        {% endif %}
        <form action="{% url 'login' %}" class="p-4 p-md-5 border rounded-3 bg-body-tertiary" method="post">
            <h1>Вход в аккаунт</h1>
            <hr class="my-4">
            <div class="form-floating mb-3">
                <input name="username" type="login" class="form-control" id="floatingInput" placeholder="login" required>
                <label for="floatingInput">Логин</label>
            </div>
            <div class="form-floating mb-3">
                <input name="password" type="password" class="form-control"
                       id="floatingPassword" placeholder="Password" required>
                <label for="floatingPassword">Пароль</label>
            </div>
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}" />
            <div class="row" style="text-align: center">
                <div class="col">
                    <button class="w-100 btn btn-lg btn-primary" type="submit" value="Log-in">Войти</button>
                </div>
                <div class="col">
                    <button class="w-100 btn btn-lg btn-outline-secondary" type="submit"
                            value="Registration" onclick="window.location.href='{% url 'register' %}'">Создать аккаунт</button>
                </div>
            </div>
            <div class="text-secondary text-center mt-3"><a href="{% url "password_reset" %}">Забыль пароль</a></div>
        </form>
    </div>
    <div style="height: 200px"></div>
{% endblock %}