{% extends "base.html" %}
{% block title %}Автопрофи - забыль пароль{% endblock %}
{% block content %}
    <div style="height: 100px"></div>
    <div class="col-md-10 mx-auto col-lg-5">
        <form class="p-4 p-md-5 border rounded-3 bg-body-tertiary" method="post">
            <span class="fs-4">Восстановление пароля</span>
            <hr class="my-4">
            <div class="form-floating mb-3">
                <input name="email" type="email" class="form-control" id="floatingInput" placeholder="Email" required>
                <label for="floatingInput">E-Mail</label>
            </div>
            <button class="w-100 btn btn-lg btn-primary" type="submit" value="Send e-mail">Отправить</button>
            {% csrf_token %}
        </form>
    </div>
    <div style="height: 200px"></div>
{% endblock %}