{% extends "base.html" %}
{% block title %}Автопрофи - забыль пароль{% endblock %}
{% block content %}
    <div style="height: 100px"></div>
    {% if validlink %}
    <div class="col-md-10 mx-auto col-lg-5">
        <form class="p-4 p-md-5 border rounded-3 bg-body-tertiary" method="post">
            <span class="fs-4">Новый пароль</span>
            <hr class="my-4">
            <div class="form-floating mb-3">
                <input name="new_password1" type="password" class="form-control" id="floatingInput" placeholder="Password" required>
                <label for="new_password1">Новый пароль</label>
            </div>
            <div class="form-floating mb-3">
                <input name="new_password2" type="password" class="form-control" id="floatingInput" placeholder="Password" required>
                <label for="new_password2">Новый пароль еще раз</label>
            </div>
            {% csrf_token %}
            <button class="w-100 btn btn-lg btn-primary" type="submit" value="password-reset">Изменить пароль</button>
        </form>
    </div>
    <div style="height: 200px"></div>
    {% else %}
        <div id="main" class="px-4 py-5 my-5 text-center">
            <h1 class="display-5 fw-bold text-body-emphasis">Ссылка неактивна :(</h1>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <button type="button" class="btn btn-outline-secondary btn-lg px-4"
                    onclick="window.location.href = '/client';">
                    На главную
                </button>
        </div>
    </div>
    {% endif %}
{% endblock %}