{% extends "base.html" %}
{% block title %}АвтоПрофи - сброс пароля{% endblock %}
{% block content %}
    <div id="main" class="px-4 py-5 my-5 text-center">
        <div style="height: 100px"></div>
        <h1 class="display-5 fw-bold text-body-emphasis">Письмо отправлено!</h1>
        <div style="height: 30px"></div>
        <p class="lead mb-4">На вашу почту было выслано письмо с ссылкой для сброса пароля.</p>
        <p class="lead mb-4">Если письмо не пришло, убедитесь в том,
            что использовали ту же почту, что и при регистрации.</p>
    </div>
{% endblock %}