{% extends "base.html" %}
{% block title %}АвтоПрофи - изменить аккаунт{% endblock %}
{% block content %}
    <form method="post" enctype="multipart/form-data">
        <div style="height: 50px"></div>
        <div class="col-md-10 mx-auto col-lg-5">
            <form class="p-4 p-md-5 border rounded-3 bg-body-tertiary" method="post" enctype="multipart/form-data">
                <h1>Изменить профиль</h1>
                <hr class="my-4">
                <div class="form-floating mb-3">
                    <input name="first_name" value="{{ request.user.first_name }}" type="text" class="form-control"
                           id="id_first_name" placeholder="text">
                    <label for="id_username">Имя</label>
                </div>
                <div class="form-floating mb-3">
                    <input name="last_name" value="{{ request.user.last_name }}" type="text" class="form-control"
                           id="id_last_name" placeholder="text">
                    <label for="id_last_name">Фамилия</label>
                </div>
                <div class="form-floating mb-3">
                    <input name="email" value="{{ request.user.email }}" type="e-mail" class="form-control" id="id_email" placeholder="e-mail">
                    <label for="id_email">Почта</label>
                </div>
                <div class="form-floating mb-3">
                    <input name="date_of_birth" value="{{ request.user.profile.date_of_birth }}" type="text" class="form-control"
                           id="id_date_of_birth" placeholder="date">
                    <label for="id_date_of_birth">Дата рождения</label>
                </div>
                <div class="mb-3">
                    <label for="id_photo">Ваше фото:</label>
                    <input name="photo" value="{{ request.user.profile.photo }}" type="file" class="form-control"
                           id="id_photo" placeholder="file" accept="image/*">
                </div>
                <div class="row" style="text-align: center">
                    <button class="w-100 btn btn-lg btn-primary"
                            type="submit" value="Create my account">Готово</button>
                </div>
                {% csrf_token %}
            </form>
        </div>
    </form>
{% endblock %}