{% extends "base.html" %}
{% block title %}АвтоПрофи - регистрация{% endblock %}
{% block content %}
    <div style="height: 50px"></div>
    <div class="col-md-10 mx-auto col-lg-5">
        <form class="p-4 p-md-5 border rounded-3 bg-body-tertiary" method="post">
            <h1>Регистрация</h1>
            {% if form.errors %}
            <div class="d-flex flex-column align-items-center text-center">
                <div class="col-sm-9 text-secondary">Логин и пароль не совпадают. Попробуйте снова.</div>
            </div>
            <div style="height: 20px"></div>
        {% endif %}
            <hr class="my-4">
            <div class="form-floating mb-3">
                <input name="username" type="text" class="form-control" id="id_username" placeholder="login" required>
                <label for="id_username">Логин</label>
            </div>
            <div class="form-floating mb-3">
                <input name="first_name" type="text" class="form-control"
                       id="id_first_name" placeholder="text" required>
                <label for="id_first_name">Имя</label>
            </div>
            <div class="form-floating mb-3">
                <input name="last_name" type="text" class="form-control"
                       id="id_last_name" placeholder="text" required>
                <label for="id_last_name">Фамилия</label>
            </div>
            <div class="form-floating mb-3">
                <input name="email" type="e-mail" class="form-control" id="id_email" placeholder="e-mail" required>
                <label for="id_email">Почта</label>
            </div>
            <div class="form-floating mb-3">
                <input name="password1" type="password" class="form-control"
                       id="id_password1" placeholder="Password" required>
                <label for="id_password1">Пароль</label>
            </div>
            <div class="form-floating mb-3">
                <input name="password2" type="password" class="form-control"
                       id="id_password2" placeholder="Password" required>
                <label for="id_password2">Повторите пароль</label>
            </div>
            <div class="row" style="text-align: center">
                <div class="col">
                    <button class="w-100 btn btn-lg btn-primary" type="submit" value="Create my account">Создать аккаунт</button>
                </div>
                <div class="col">
                    <button class="w-100 btn btn-lg btn-outline-secondary"
                            onclick="window.location.href='{% url 'login' %}'">Войти</button>
                </div>
            </div>
            {% csrf_token %}
        </form>
    </div>
{% endblock %}
